mat-form-field {
  display: flex;
  flex-direction: column;
}

.krhonos_width_large {
  width: 50%;
}

.krhonos_width_short {
  width: 15%;
}

mat-radio-button {
  padding-right: 16px;
}
