table {
<<<<<<< guillaume_dev
<<<<<<< guillaume_dev
=======
  position: relative;
>>>>>>> comit autogodzy form contrat
=======
>>>>>>> conception de contrat-etablissement
  width: 100%;
}

.example-detail-row {
  height: 0;
}

.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.mat-header-row {
  font-weight: bold;
}

<<<<<<< guillaume_dev
mat-cell:hover{
  background-color: #2D2E2E;
}

=======
>>>>>>> conception de contrat-etablissement
