<table mat-table
       [dataSource]="salaries" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let salarie"> {{salarie[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let salarie" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="salarie == expandedElement ? 'expanded' : 'collapsed'">
        <button class="btn btn-secondary btn-xs" (click)="onNewContrat(salarie.id)">Créer contrat</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let salarie; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === salarie"
      (click)="expandedElement = salarie">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

