<div class="col-md-3">
  <a (click)="onNewSalarie()">Nouveau Salarié</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nom</th>
        <th>Prénom</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let salarie of salaries | async">
      <td class="hidden">{{ salarie.id }}</td>
      <td>{{ salarie.nom }}</td>
      <td>{{ salarie.prenom }}</td>
      <td><a [routerLink]="['/product/', product.id]">{{product.name}} class="btn btn-default btn-xs active" role="button" title="Lien 2">Contrat</a> </td>
    </tr>
    </tbody>
  </table>
</div>
