<div class="row">
  <!--<div class="title">Contrat de Travail à durée indeterminée (CDI) {{contrat.typeCtr.id}}</div>-->

  <div class="col-12">
    <h3>Entre les soussignés :</h3>
    <br/><br/>
    <p>
      La Société <a>{{etablissement.name}}</a> située <a>{{etablissement.adresse}}</a> – <a>{{etablissement.ville}}</a>
      , immatriculée au Registre du
      Commerce et des Sociétés de <a>{{etablissement.siret}}</a> sous le numéro <a>{{etablissement.numero}}</a>

      Représentée par <a>{{salarie.nom}}</a>, agissant en sa qualité de "....................",

      D’une part,
    </p><br/>
    Et :
    <br/>
    <div class="col-12">
      <p>
        Melle/Mr/Mme <a>{{salarie.nom}}</a><a>{{salarie.prenom}}</a>, de nationalité <a>{{salarie.villeNaissance}}</a> ,

      Né(e) le <a>{{salarie.dateNaissance}}</a> à <a>{{salarie.villeNaissance}}</a> – N°SS :
      <a>{{salarie.numSecu}}</a>

      Demeurant au <a>{{salarie.adresse}}</a> <a>{{salarie.ville}}</a>, <a>{{salarie.codePostal}}</a>
    </p>
  </div>


    <a>{{ salarie.civilite.toString() }}</a>,
    <a>{{ salarie.nom }}</a>
    <a>{{ salarie.prenom }}</a>
    <a>{{ salarie.numSecu }}</a>
    <a>{{ salarie.cleSecu }}</a>
    <a>{{ salarie.dateNaissance }}</a>
    <a>{{ salarie.adresse }}</a>
    <a>{{ salarie.codePostal }}</a>
    <a>{{ salarie.ville }}</a>
    <a>{{ salarie.telephone }}</a>
    <a>{{ salarie.mail }}</a>
    <a>{{ salarie.dateEntree }}</a>
    <a>{{ salarie.situationFam }}</a>
    <h3>{{ salarie.prenom }}</h3>
    <h3>{{ salarie.prenom }}</h3>
    <h3>{{ salarie.prenom }}</h3>
    <h3>{{ salarie.prenom }}</h3>
    <h3>{{ salarie.prenom }}</h3>
    <h3>{{ salarie.prenom }}</h3>
    <h3>{{ salarie.prenom }}</h3>

  </div>
</div>
