.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100px;
}

.mat-toolbar.mat-primary{

  background-color: cyan;
  position: center;
  top: 0;
}

.mat-toolbar.mat-secondary{
  z-index: 1;
  position: sticky;
  display: flex;
  background-color: gray;
  position: center;
  top: 0;
}
