
.sidenav-container {
  height: 100%;
}

/* .example-sidenav */
.sidenav {
  background-color: #2D2E2E;
  width: 100px;
}

.active {
  background-color: #00A8FF;
}

.mat-toolbar.mat-primary {
  background-color: #2D2E2E;
  position: center;
  top: 0;
}

.mat-toolbar.mat-secondary {
  z-index: 1;
  position: sticky;
  display: flex;
  background-color: #2D2E2E;
  border-bottom: #00A8FF 3px solid;
  opacity: 0.8;
  /* position: center; */
  top: 0;
}

.sidenav-item {
  color: white;
  font-size: 20px;
}

mat-icon {
  color: white;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  text-align: right;
  margin-left: 2px;
  float: right; /*pour IE*/
}

ul li a {
  display: block;
  float: right;
  width: 40px;
  text-decoration: none;
  text-align: right;
  padding: 5px;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
  width: 15%;
  font-size: 30px;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.iconLink {
  align-items: right;
  float: right;
}

span {
  color: white;
  font-size: 30px;
}
